<div class="text-center">
    <h1 class="text-danger">Немате пристап кон оваа содржина од страната</h1>
    <h6 class="text-danger">Мора да добиете одобрение од ADMIN</h6>
    <img src="~/images/noaccess.png" style="height:400px;width:400px" />
</div>