
@using eManager.WebModels;
@model ServiceViewModel

@{
    ViewBag.Title = "Избриши услуга";


}

<div class="modal fade" id="removeService">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Дали сте сигурни дека сакате да ја избришете услугата?</h4>
            </div>

            <div class="modal-body">
                <form method="post" asp-controller="Service" asp-action="RemoveService">
                    <input type="hidden" name="ServiceId" value="@Model.ServiceId" />
                    <button type="submit" class="btn btn-danger">Избриши</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("Services", "Service")'">Врати</button>
                </form>


            </div>

        </div>
    </div>
</div>



<script>
    $(function () {
        $("#removeService").modal();
    });
</script>


